.cover__link {
  color: white;
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 32px;
}
@media screen and (max-width:568px) {
  .cover__link {
    gap: 16px;
  }
}
