.page {
  max-width: 1280px;
  min-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: white;
  background-color: #2a2c2f;
  padding: 28px 0 24px;
}

@media screen and (max-width:568px) {
  .page {
    padding: 16px 0 24px;
  }
}
