.places {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

@media screen and (max-width:984px) {
  .places {
    row-gap: 73px;
  }
}

@media screen and (max-width:568px) {
  .places {
    row-gap: 50px;
  }
}
