.cover__subtitle {
  font-size: 1.125rem;
  line-height: 1.222;
  max-width: 360px;
  text-align: center;
  margin: 0;
}

@media screen and (max-width:568px) {
  .cover__subtitle {
    font-size: 0.875rem;
    line-height: 1.143;
    max-width: 288px;
  }
}
