.content__cover {
  margin: 92px auto 0;
}

@media screen and (max-width: 984px) {
  .content__cover {
    margin-top: 90px;
  }
}

@media screen and (max-width: 568px) {
  .content__cover {
    margin-top: 66px;
  }
}
