.place__paragraph {
  font-size: 1.125rem;
  line-height: 1.611;
  font-style: normal;
  margin: 0;
}

@media screen and (max-width:984px) {
  .place__paragraph {
    font-size: 1rem;
    line-height: 1.630;
  }
}

@media screen and (max-width:568px) {
  .place__paragraph {
    font-size: 1rem;
    line-height: 1.630;
  }
}
