.content__intro {
  box-sizing: border-box;
  padding: 0;
  margin: 92px 0 0 148px;
}

@media screen and (max-width: 1140px) {
  .content__intro {
    margin: 92px 48px 0 48px;
  }
}

@media screen and (max-width: 984px) {
  .content__intro {
    margin: 88px 24px 0;
  }
}

@media screen and (max-width: 568px) {
  .content__intro {
    padding: 0 16px;
    margin: 64px 0 0;
  }
}
