.cover {
  justify-self: center;



  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;

  background-image: url(../../images/cover/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1184px;
  min-height: 740px;
  width: 100%;
  height: 100%;
  position: relative;
}

@media screen and (max-width:1140px) {
  .cover {

    min-height: 640px;

  }
}

@media screen and (max-width:984px) {
  .cover {

    min-height: 480px;
  }
}



@media screen and (max-width:568px) {
  .cover {

    min-height: 200px;
  }
}
