.footer {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width:568px) {
  .footer {
    gap: 48px;
    flex-direction: column;
  }
}
