.page__footer {
  margin: 92px 48px 0 48px;
}

@media screen and (max-width:984px) {
  .page__footer {
    margin: 88px 24px 0 24px;
  }
}

@media screen and (max-width:568px) {
  .page__footer {
    margin: 64px 16px 0 16px;
  }
}
