.content__lead {
  padding: 56px 48px 0 48px;
}

@media screen and (max-width: 1140px) {
  .content__lead {
    padding: 48px 48px 0;
  }
}

@media screen and (max-width: 984px) {
  .content__lead {
    padding: 48px 0 0;
  }
}
